/* variables */
:root {
  --color-brand-light: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-dark: #465929;
}
/* base */
body {
  color: var(--color-primary-dark);
}
ul {
  list-style-type: none;
}
.accent {
  color: var(--color-brand-light);
}
.secondary-title .accent {
  color: var(--color-brand-dark);
}
/* button */
.button {
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  color: var(--color-primary-light);
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}
/* link */
.link {
  color: var(--color-primary-light);
}
.link:hover {
  color: var(--color-brand-light);
}
/* hero section */
.hero-title {
  color: var(--color-primary-light);
}
/* advantages section */
.advantages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}
